body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aquamarine;
}

form{
    border-radius: 3px ;
    background-color: white;
    padding: 40px;
    margin: 0 auto;
    width: 300px;
}